<h1>Infos about: <%= @cocktail.name %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<h5>Ingredients</h5>
<ul>
  <% @cocktail.doses.each do |dose| %>
  <li><%= dose.desciption %>
  <%= dose.ingredient.name %></li>
  <% end %>

</ul>


<%= link_to 'Back', cocktails_path %> |||||
<%= link_to 'Create an Ingredient', new_cocktail_dose_path(@cocktail) %>
